html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: #fbeee0;
}

.menuText {
  font-size: 1.5vw;
  font-family: "Titillium Web", sans-serif;
  margin: 1.5vw;
}

.headText,
.headNameText {
  font-family: "Space Mono", monospace;
  font-size: 2.8rem;
  margin: 0;
}

.logo {
  border-radius: 50%;
  background-color: white;
  border: 0.2vw solid black;
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.7rem;
  object-fit: cover;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3vw;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  /* vertical-align: center; */
}

.mobilemenu {
  display: none;
}

#section01,
#section02 {
  height: 100vh;
  width: 100%;
  /* background: #16132d; */
  /* display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center; */
  margin: 0;
  padding: 0;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.flexCen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.anchor {
  text-decoration: none;
  color: black;
}

.anchor:visited {
  text-decoration: none;
  color: black;
}

.anchor:hover {
  color: #52528c;
}

/* section 1 */
.headInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.frontInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.subText {
  font-size: 1.6vw;
  font-family: "Titillium Web", sans-serif;
  margin-top: 1vw;
  margin-bottom: 0.2vw;
  /* margin-left: 1.3vw; */
}

ul {
  font-size: 1.6vw;
  font-family: "Titillium Web", sans-serif;
  margin-top: 0.3vw;
}

li {
  font-size: 1.6vw;
  font-family: "Titillium Web", sans-serif;
}

.left {
  margin-right: 4vw;
}

.profile {
  width: 21vw;
  height: 28vw;
  border-radius: 5%;
  object-fit: cover;
  z-index: 1;
}

.profileRect {
  border-radius: 5%;
  background-color: white;
  width: 21vw;
  height: 28vw;
  border: 0.2vw solid black;
  margin-top: 2vw;
  margin-left: -19vw;
}

/* section 2 */
.aboutRect {
  width: 28vw;
  height: 21vw;
  background: white;
  border: 0.2vw solid black;
  border-radius: 5%;
  margin-top: -19vw;
}

.aboutPic {
  width: 28vw;
  height: 21vw;
  border-radius: 5%;
  z-index: 1;
  margin-left: 2vw;
}

.aboutTotal {
  margin-top: 2vw;
}

.aboutInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 8vw;
}

.textAboutInfo {
  display: flex;
  flex-direction: column;
  width: 38vw;
}

/* section3 */

.projectInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8vw;
  margin-left: 14vw;
}

/* @media screen and (max-width: 600px) {
  .headText {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 400px) {
  .headText {
    font-size: 1.5rem;
  }
} */

section {
  display: grid;
  grid-template-columns: var(--page-margin) [center-start] 1fr [center-end] var(
      --page-margin
    );
  width: 84%;
}
section > * {
  grid-column: center;
}

.cards-wrapper {
  grid-column: center-start/-1;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  overflow: auto;
  padding-bottom: 1rem;
  padding-right: var(--page-margin);
}
.cards-wrapper .card {
  display: grid;
  place-content: center;
  background-color: #d0f0ee;
  color: black;
  font-size: 1.5rem;
  height: 20rem;
  min-width: 13rem;
}

section {
  display: grid;
  grid-template-columns: var(--page-margin) [center-start] 1fr [center-end] var(
      --page-margin
    );
}
section > * {
  grid-column: center;
}

.cards-wrapper {
  grid-column: center-start/-1;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  overflow: auto;
  padding-bottom: 1rem;
  padding-right: var(--page-margin);
}
.cards-wrapper .card {
  display: grid;
  place-content: center;
  background-color: white;
  font-size: 1.5rem;
  /*   height: 20vw;
  min-width: 13rem; */
  border-radius: 5%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  border: 0.2vw solid black;
  height: 23rem;
  width: 19rem;
}

.imageproject {
  border-radius: 4%;
  width: 100%;
  height: 11.875rem;
  object-fit: cover;
}

.projText {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  margin-bottom: 0;
}

.projTools {
  display: flex;
  flex-direction: row;
  margin-top: 0.2rem;
}

.projTool {
  display: flex;
  margin-top: 0;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 1rem;
  font-size: 0.8rem;
  background-color: #f7b7b6;
  color: white;
  border-radius: 3vw;
  font-family: "Titillium Web", sans-serif;
  margin-right: 1rem;
  padding: 0.2rem;
}

.projInfo {
  margin-top: 0.2rem;
  font-size: 0.9rem;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  margin-bottom: 0;
}

.webProjLink {
  background-color: #f7b7b6;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  /* margin-top: 0.3rem; */
  border-radius: 0.5rem;
  color: white;
}

.projBar {
  height: 1.8rem;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: blue; */
}

.viewMoreLink {
  font-size: 1.1rem;
  background-color: #52528c;
  font-family: "Titillium Web", sans-serif;
  padding-top: 0.23rem;
  padding-bottom: 0.23rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.5rem;
  margin-left: 0.6rem;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: white;
}

.viewMoreLinkNoWeb {
  font-size: 1.1rem;
  background-color: #52528c;
  font-family: "Titillium Web", sans-serif;
  padding-top: 0.23rem;
  padding-bottom: 0.23rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

.viewMoreLink:visited,
.viewMoreLinkNoWeb:visited {
  color: white;
}

section {
  margin: 0;
  padding: 0;
  margin-top: 1vw;
}

.buttonTotal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.buttonTotal {
  background-color: #f7b7b6;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 10.9rem;
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  font-size: 1rem;
  color: white;
  border-radius: 0.5rem;
}

.buttonTotal .fa-solid {
  font-size: 1.5rem;
  color: white;
}

/* section 4 */
.contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8vw;
  margin-left: 14vw;
  padding-bottom: 6rem;
}

.contactSub {
  font-family: "Titillium Web", sans-serif;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.socialBut {
  width: 4.7rem;
  height: 4.7rem;
  border-radius: 50%;
  background-color: white;
  margin-right: 3rem;
  margin-bottom: 1rem;
  border: 0.2vw solid black;
}

.github,
.IG,
.mail,
.in {
  width: 2.8rem;
  height: 2.8rem;
}

.github:hover,
.IG:hover,
.socialBut:hover,
.mail:hover {
  background-color: #f7b7b6;
}

.contactBar {
  margin-bottom: 1.3vw;
}

/* project pages */
.leftProj {
  margin-right: 8vw;
  width: 33vw;
}

.headPText {
  font-family: "Titillium Web", sans-serif;
  font-size: 1.2rem;
  margin-top: 1rem;
  font-weight: 400;
}

.projPurposeHText {
  font-family: "Titillium Web", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

.projLinkBut {
  width: 3.7rem;
  height: 3.7rem;
  border-radius: 50%;
  background-color: white;
  margin-right: 1.5rem;
  border: 0.15rem solid black;
}

.websiteProj {
  width: 1.8rem;
  height: 1.8rem;
}

.websiteProj:hover {
  background-color: #f7b7b6;
}

.projLinkBut:hover {
  background-color: #f7b7b6;
}

.projectPic {
  width: 31vw;
  height: 22vw;
  border-radius: 5%;
  object-fit: cover;
  z-index: 1;
}

.projectRect {
  border-radius: 5%;
  background-color: white;
  width: 31vw;
  height: 22vw;
  border: 0.2vw solid black;
  margin-top: -19vw;
  margin-left: 2vw;
  /* margin-bottom: -20vw; */
  /* margin-left: -28vw; */
}

.rightProj {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttonBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin-top: 2vw; */
}

.arrowPic > .fa-solid {
  color: white;
  font-size: 1.5rem;
}

.arrowPic {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: transparent;
  border: 0;
  background-color: #f7b7b6;
  margin: 2vw;
}

@media only screen and (max-width: 600px) {
  /* home page */
  .menu {
    display: none;
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .subText {
    font-size: 2.2vw;
    font-family: "Titillium Web", sans-serif;
    margin-top: 1vw;
    margin-bottom: 0.2vw;
    /* margin-left: 1.3vw; */
  }

  ul {
    font-size: 2.2vw;
    font-family: "Titillium Web", sans-serif;
    margin-top: 0.3vw;
  }

  li {
    font-size: 2.2vw;
    font-family: "Titillium Web", sans-serif;
  }

  .headInfo,
  .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .headNameText {
    text-align: center;
  }

  .profile {
    width: 40vw;
    height: 55vw;
    border-radius: 5%;
    object-fit: cover;
    z-index: 1;
    margin-top: 3vw;
  }

  .profileRect {
    border-radius: 5%;
    background-color: white;
    width: 40vw;
    height: 55vw;
    border: 0.2vw solid black;
    margin-top: -50vw;
    margin-left: 10vw;
  }

  .mobilemenu {
    display: block;
    color: black;
    font-size: 4vw;
    margin-left: 2vw;
  }

  /* project page */
  .frontInfo {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 5vw;
  }
  .leftProj {
    width: 100%;
  }
  .contactBarProj {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .rightProj {
    display: flex;
    align-items: center;
  }
  .projectPic {
    width: 60vw;
    height: 40vw;
    border-radius: 5%;
    object-fit: cover;
    z-index: 1;
    margin-top: 5vw;
  }

  .projectRect {
    border-radius: 5%;
    background-color: white;
    width: 60vw;
    height: 40vw;
    border: 0.2vw solid black;
    margin-top: -35vw;
    margin-left: 5vw;
    /* margin-bottom: -20vw; */
    /* margin-left: -28vw; */
  }

  .socialBut {
    width: 4.7rem;
    height: 4.7rem;
    border-radius: 50%;
    background-color: white;
    margin-right: 3vw;
    border: 0.2vw solid black;
  }

  .github,
  .IG,
  .mail,
  .in {
    width: 2.8rem;
    height: 2.8rem;
  }
}
