@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Titillium+Web&display=swap");

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

/* section 1 */
.frontInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 13vw;
  padding-right: 13vw;
}

.headText {
  font-family: "Space Mono", monospace;
  font-size: 2.4rem;
  margin: 0;
}

.subText {
  font-size: 1.6vw;
  font-family: "Titillium Web", sans-serif;
  margin-top: 1vw;
  margin-bottom: 0.2vw;
}

.ul {
  font-size: 1.6vw;
  font-family: "Titillium Web", sans-serif;
  margin-top: 0.3vw;
  margin-left: 3vw;
}

.li {
  font-size: 1.6vw;
  font-family: "Titillium Web", sans-serif;
}

.left {
  margin-right: 8vw;
}

.coverPhoto {
}

.profile {
  width: 21vw;
  height: 28vw;
  border-radius: 5%;
  object-fit: cover;
  z-index: 1;
}

.profileRect {
  border-radius: 5%;
  background-color: white;
  width: 21vw;
  height: 28vw;
  border: 0.2vw solid black;
  margin-top: -26vw;
  margin-left: 2.5vw;
}

/* section 2 */

.aboutRect {
  width: 28vw;
  height: 21vw;
  background: white;
  border: 0.2vw solid black;
  border-radius: 5%;
  margin-top: -19vw;
}

.aboutPic {
  width: 28vw;
  height: 21vw;
  border-radius: 5%;
  z-index: 1;
  margin-left: 2vw;
}

.aboutTotal {
  margin-top: 2vw;
}

.aboutInfo {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  margin-top: 8vw;
  padding-left: 13vw;
  padding-right: 13vw;
}

.textAboutInfo {
  display: flex;
  flex-direction: column;
  width: 38vw;
}

/* section 3 */
.projectInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8vw;
  margin-left: 14vw;
}

.cardsWrapper {
  width: 84%;
  grid-column: center-start/-1;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  overflow: auto;
  padding-bottom: 1rem;
  padding-right: var(--page-margin);
}

.buttonTotal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.buttonTotal {
  background-color: #f7b7b6;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  width: 14rem;
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.1rem;
  color: white;
  border-radius: 0.5rem;
}

.arrowButton {
  font-size: 1.5rem;
  color: white;
}

/* .section {
  display: grid;
  grid-template-columns: var(--page-margin) [center-start] 1fr [center-end] var(
      --page-margin
    );
  width: 84%;
}

.section > * {
  grid-column: center;
} */

/* contact section */
.contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8vw;
  margin-left: 14vw;
  padding-bottom: 6rem;
}

.contactSub {
  font-family: "Titillium Web", sans-serif;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.socialBut {
  width: 4.7rem;
  height: 4.7rem;
  border-radius: 50%;
  background-color: white;
  margin-right: 3vw;
  border: 0.2vw solid black;
}

.github,
.IG,
.mail,
.in {
  width: 2.8rem;
  height: 2.8rem;
}

.github:hover,
.IG:hover,
.socialBut:hover,
.mail:hover {
  background-color: #f7b7b6;
}

.contactBar {
  margin-top: 2.5vw;
  margin-bottom: 1.3vw;
}
