.frontInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.leftProj {
  margin-right: 8vw;
  width: 33vw;
}

.headText {
  font-family: "Space Mono", monospace;
  font-size: 2.8rem;
  margin: 0;
}

.headPText {
  font-family: "Titillium Web", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1.2rem;
}

.headBText {
  font-family: "Titillium Web", sans-serif;
  font-size: 1.2rem;
  margin: 0;
}

.projPurposeHText {
  font-family: "Titillium Web", sans-serif;
  margin-top: 1.3vw;
  font-size: 2vw;
  font-weight: 600;
  margin-bottom: 1rem;
}

.projLinkBut {
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  background-color: white;
  margin-right: 1.5vw;
  border: 0.2vw solid black;
}

.websiteProj {
  width: 2.2vw;
  height: 2.2vw;
}

.websiteProj:hover {
  background-color: #f7b7b6;
}

.projLinkBut:hover {
  background-color: #f7b7b6;
}

.projectPic {
  width: 31vw;
  height: 22vw;
  border-radius: 5%;
  object-fit: cover;
  z-index: 1;
}

.projectRect {
  border-radius: 5%;
  background-color: white;
  width: 31vw;
  height: 22vw;
  border: 0.2vw solid black;
  margin-top: -19vw;
  margin-left: 2vw;
  /* margin-bottom: -20vw; */
  /* margin-left: -28vw; */
}

.rightProj {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttonBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin-top: 2vw; */
}

.arrowPic {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #f7b7b6;
  color: white;
  margin: 2vw;
  border: 0;
  font-size: 1.5rem;
}

.websiteProj {
  width: 2.2vw;
  height: 2.2vw;
}

.contactBar {
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
}
