.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3vw;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menuText {
  font-size: 1.5vw;
  margin: 1.5vw;
  font-family: "Titillium Web", sans-serif;
}

.menuText:hover {
  color: #52528c;
}

.logo {
  border-radius: 50%;
  background-color: white;
  border: 0.2vw solid black;
  width: 5.8vw;
  height: 5.8vw;
  padding: 0.7vw;
  object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}
